In [ ]:
#install yahoofinancials
# !{sys.executable} -m pip install yahoofinancials

In [13]:

import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import datetime

In [25]:
vwuax = yf.Ticker("VWUAX")
vwuax = vwuax.history(period = "max")

In [6]:
VG1_PORTFOLIO = {"VTI": 32, "VXUS": 22, "VMLUX": 14, "VWIUX": 18, "VWLUX": 14}
VG2_PORTFOLIO = {"VTSAX": 13.65, "VWUAX": 2.05, "VWNAX": 2.05, "VEXRX": .88, "VSEQX": .88, "VWILX": 1.95, "VTRIX": 1.95, "VTIAX": 9.10, "VUSFX": 50.00, "VMLUX": 5.25, "VWIUX":  7.00, "VWLUX": 5.25}

In [9]:
#total returns is capital gains returns + dividend income

In [12]:
CALC_YEARLY_RETURNS_OF = [20, 10, 5, 3, 1]

# calculations as of {some_date}
calculations_as_of = datetime.datetime(2021, 1, 1)

#take df and filter all the data > calculations_as_of
vwuax["Date"] = vwuax.index

vwuax[vwuax["Date"] > calculations_as_of]

In [55]:


class Returns:

    def __init__(self, ticker, calculations_as_of):
        self.ticker = ticker.upper()
        self.yf_original = self.get_yf_df()

        self.df = self._add_date_col()

    def get_yf_df(self):
        return yf.Ticker(self.ticker).history()

    def _add_date_col(self):
        df = self.yf_original
        df["Date"] = df.index
        return df

In [56]:
vwuax = Returns("vwuax", calculations_as_of)
vwuax.df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2021-12-01,189.940002,189.940002,189.940002,189.940002,0,0,0,2021-12-01
2021-12-02,191.759995,191.759995,191.759995,191.759995,0,0,0,2021-12-02
2021-12-03,187.080002,187.080002,187.080002,187.080002,0,0,0,2021-12-03
2021-12-06,188.419998,188.419998,188.419998,188.419998,0,0,0,2021-12-06
2021-12-07,195.300003,195.300003,195.300003,195.300003,0,0,0,2021-12-07
2021-12-08,197.419998,197.419998,197.419998,197.419998,0,0,0,2021-12-08
2021-12-09,193.080002,193.080002,193.080002,193.080002,0,0,0,2021-12-09
2021-12-10,192.929993,192.929993,192.929993,192.929993,0,0,0,2021-12-10
2021-12-13,190.389999,190.389999,190.389999,190.389999,0,0,0,2021-12-13
2021-12-14,187.419998,187.419998,187.419998,187.419998,0,0,0,2021-12-14
2021-12-15,168.699997,168.699997,168.699997,168.699997,0,0,0,2021-12-15
2021-12-16,163.839996,163.839996,163.839996,163.839996,0,0,0,2021-12-16
2021-12-20,161.610001,161.610001,161.610001,161.610001,0,0,0,2021-12-20
2021-12-21,166.559998,166.559998,166.559998,166.559998,0,0,0,2021-12-21
2021-12-22,168.160004,168.160004,168.160004,168.160004,0,0,0,2021-12-22
2021-12-23,169.820007,169.820007,169.820007,169.820007,0,0,0,2021-12-23
2021-12-27,171.460007,171.460007,171.460007,171.460007,0,0,0,2021-12-27
2021-12-28,169.990005,169.990005,169.990005,169.990005,0,0,0,2021-12-28
2021-12-29,169.570007,169.570007,169.570007,169.570007,0,0,0,2021-12-29
2021-12-30,169.960007,169.960007,169.960007,169.960007,0,0,0,2021-12-30
2021-12-31,168.460007,168.460007,168.460007,168.460007,0,0,0,2021-12-31

In [31]:
def add_date_col(df):
    df["Date"] = df.index
    return df

def date_group (df, interval = "m", interval_start_date = "1/1/2020"):
    """
    df - the data frame that has the security data
    interval - the interval to group the data buy.  Options are month (m) and will be year (y)
    interval_start_date - date to start the intervals on.
    """

def date_filter (df, calcs_as_of):

IndentationError: expected an indented block (Temp/ipykernel_17688/2881581613.py, line 12)

In [ ]:
date_interval()